@{
    ViewBag.Title = "Регистрация этапа соревнования";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Поля</title>
    <style type="text/css">
        .stage_info {
            width: 250px; /* Ширина контента */
            height: 275px;
            margin-left: auto;
            margin-right: auto; /* Значение отступов */
            border: 2px solid silver; /* Параметры границы */
            padding: 10px;
            border-radius: 15px;
            overflow-y: auto;
            background: #9CEE90;
        }
    </style>
</head>

<div class="text-center">
    <h3 class="display-3">@ViewBag.Title</h3>
    <div class=stage_info>
        <form action="AddStage" method="post">
            <input type="hidden" name="CompetitionID" value=@ViewBag.CompetitionID>
            <input type="text" name="Address" placeholder="Место проведения">
            <h3></h3>
            <input type="datetime" name="RegistrationStartTime" placeholder="Начало регистрации">
            <h3></h3>
            <input type="datetime" name="RegistrationEndTime" placeholder="Окончание регистрации">
            <h3></h3>
            <input type="number" name="ParticipationPrice" placeholder="Цена участия">
            <h3></h3>
            <input type="number" name="ViewPrice" placeholder="Цена просмотра">
            <h3></h3>
            <input type="submit" value="Добавить этап">
        </form>
    </div>
</div>

