@model List<Car>
@{
    ViewBag.Title = "Профиль";
}

<div class="text-center">
    <h3 class="display-3">@ViewBag.Title</h3>
</div>


@if (User.Identity.Name == null)
{
    <div class="text-center">
        <h3>Не авторизован</h3>
    </div>
}
else
{
    <h5>Имя: @User.Identity.Name</h5>
    <h5>Машины: </h5>
    @foreach (Car car in ViewBag.Cars)
    {
        <h5>Описание: @car.Description</h5>
        <a asp-controller="user" asp-action="CarInfo" asp-route-carID="@car.CarID">Узнать больше</a>
    }
    <div class="text-center">
        <form action="AddCar" method="post">
            <input type="text" name="Name" placeholder="Название машины">
            <input type="submit" value="Добавить новую машину">
        </form>
    </div>
}